@import '../../../assets/styles/colors';

.navbar {
  position: relative;
  overflow: hidden;
  background-color: $white-000;
  height: 60px;
  padding: 10px 15px 10px 21px;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.07);

  &__logo {
    margin-right: 12.5px;
    height: 40px;
    width: 40px;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 98%;
    float: left;
    color: $grey-090;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font: {
      family: Roboto;
      weight: 500;
      style: normal;
      size: 17px;
    }
    line-height: 100%;

    &.active {
      color: $grey-100;
      border-bottom: 4px solid $red-100;
    }
  }

  &__left {
    font-size: 16px;
    font-weight: bold;
    color: $grey-100;
    &.navbar__item {
      border: none;
    }
  }

  &__center {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 30px;
    float: none;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__right {
    float: right;
  }
}
