{
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@pages": "./src/pages",
          "@format": "./src/services/Format",
          "@component": "./src/components"
        }
      }
    ]
  ],
}