@import '../../../assets/styles/colors';
$height: 32px;

.navbar-capture {
  text-align: right;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 18px;
  align-items: center;
  float: right;
  height: 100%;

  &__item {
    height: $height;
  }
  &__profile-image {
    border-radius: 50%;
    // height: 32px;
    width: 32px;
  }

  &__profile-image--online{
    margin-left: -25px;
  }

  &__share {
    color: $white-000;
    background-color: $red-100;
    padding: 6.5px 18px;
    border-radius: $height / 2;
    border: none;
  }
}

