.text-button {
  border: none;
  background: none;
  position: static;
  width: 52px;
  height: 20px;
  left: 20px;
  top: 25px;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 6px 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: red;
  /* Grey / 100 */
  &:focus {
    color: #353941;
  }
  
}