$grey-040: #F8F9F9;
$grey-050: #F2F5F5;
$grey-060: #EDEEF0;
$grey-080: #A0A6B7;
$grey-090: #5E687B;
$grey-100: #353941;

$white-000: #FFF;

$red-100: #FF4C44;

$blue-100: rgba(37, 137, 237, 1);

$trans-060: rgba(26, 40, 66, 0.08);