@import './colors';

@mixin grey-text {
  color: $grey-080;
  font: {
    family: Roboto;
    style: normal;
    weight: normal;
    size: 14px;
  };
  text-align: left;
}
@mixin grey-icon {
  color: $grey-090;
  width: 20px;
  margin: 0px 13px 0px 0px;
  ;
}